@model List<WooxTravel.Entities.Destination>

@{ 
    int sayı = 1;
    int sayı1 = 1;
}

<section id="section-1" >
    <div class="content-slider">
        <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
        <input type="radio" id="banner2" class="sec-1-input" name="banner">
        <input type="radio" id="banner3" class="sec-1-input" name="banner">
        <input type="radio" id="banner4" class="sec-1-input" name="banner">
       
        <div class="slider">
            @foreach (var x in Model)
            {
                
                <div id="top-banner-@sayı" class="banner" style=" background: url('@x.ImageUrl') no-repeat center center; background-size: cover">
                    <div class="banner-inner-wrapper header-text">
                        <div class="main-caption">
                            <h2>@x.Title</h2>
                            <h1>@x.Country</h1>
                            <div class="border-button"><a href="DestinationDetails/@x.DestinationId">Bilgi Al</a></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="more-info">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <i class="fa fa-user"></i>
                                                <h4><span>Tur Kapasitesi:</span><br>@x.Capacity</h4>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <i class="fa fa-globe"></i>
                                                <h4><span>Tur Süresi</span><br>@x.DayNight Gün @(x.DayNight-1) Gece</h4>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <i class="fa fa-home"></i>
                                                <h4><span>Tur Fiyatı:</span><br>@x.Price ₺</h4>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <div class="main-button">
                                                    <a href="DestinationDetails/@x.DestinationId">Rezervasyon</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                sayı++;
            }



        </div>
        <nav>
            <div class="controls">
                @foreach (var x in Model)
                {

                    <label for="banner@(sayı1)"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">@sayı1</span></label>
                    sayı1++;
                }

                

            </div>
        </nav>
    </div>
</section>
